---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.jsx';
import SwiperHero from '../components/SwiperHero';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<Button>Astro, React, Bootstrp and Cypress project</Button>
	</main>
		<SwiperHero></SwiperHero>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
