---
import Layout from '../layouts/Layout.astro';
import HeroSwiper from '../components/HeroSwiper.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<HeroSwiper></HeroSwiper>
	</main>
</Layout>

<style>
	main {
		padding: 1.5rem;
	}
</style>
