---
// src/pages/swiper.astro
---

<!-- Slider main container -->
<div class="swiper-container">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      Slide 1
      <img
        src="/images/carousel/carousel.webp"
        class="img-fluid"
        alt="laptop "
        loading="eager"
      />
    </div>
    <div class="swiper-slide">
      Slide 2
      <img
        src="/images/carousel/carousel3.webp"
        class="img-fluid"
        alt="server "
        loading="eager"
      />
    </div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
<script></script>
