---
import { Picture } from "astro-imagetools/components";
---

<!-- Slider main container -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <Picture
        src="/images/carousel/carousel.webp"
        alt="A landscape image"
        sizes="(min-width: 1024px) 1024px, 100vw"
      />
    </div>
    <div class="swiper-slide">
      <Picture
        src="/images/carousel/carousel3.webp"
        alt="A landscape image"
        sizes="(min-width: 1024px) 1024px, 100vw"
      />
    </div>
    ...
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-scrollbar"></div>
</div>
<script></script>
