---
---

<!-- Slider main container -->

<!-- Slider main container -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
  <img
    src="/images/carousel/carousel.webp"
    class="img-fluid"
    alt="laptop "
    loading="eager"
  />
    </div>
    <div class="swiper-slide">
  <img
    src="/images/carousel/carousel3.webp"
    class="img-fluid"
    alt="laptop "
    loading="eager"
  />
    </div>
    ...
  </div>
</div>
<script></script>